* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90vh;
}

ul {
  display: flex;
}

ul li {
  transition: 0.5s;
  box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.28);
  width: 240px;
  height: 55px;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: rotate(-19deg) skew(10deg);
  background-color: rgb(209, 209, 209);
}

ul li {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  margin-left: 10px;
  font-family: "google-sans";
  font-weight: 500;
}

@font-face {
  font-family: "google-sans";
  src: url("GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf");
}

ul li i {
  font-size: 25px;
  margin-left: -10px;
}

ul li:before {
  transition: 0.5s;
  content: "";
  width: 100%;
  background-color: #b1b1b1;
  height: 17px;
  position: absolute;
  top: 55px;
  left: -8px;
  transform: skewX(-45deg);
}

ul li::after {
  transition: 0.5s;
  content: "";
  transform: skewY(-45deg);
  position: absolute;
  background-color: #b1b1b1;
  width: 17px;
  height: 55px;
  top: 8px;
  left: -16px;
}

ul li:hover {
  background-color: #ff5858;
  color: #fff;
  margin-top: -10px;
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.48);
}

ul li:hover::before {
  background-color: #de3737;
}

ul li:hover::after {
  background-color: #de3737;
}

ul li:before {
  transition: 0.5s;
  content: "";
  width: 100%;
  background-color: #b1b1b1;
  height: 17px;
  position: absolute;
  top: 55px;
  left: -8px;
  transform: skewX(-45deg);
}

.twitter::after {
  transition: 0.5s;
  content: "";
  transform: skewY(-45deg);
  position: absolute;
  background-color: #b1b1b1;
  width: 17px;
  height: 55px;
  top: 8px;
  left: -16px;
}

.twitter:hover {
  background-color: #0099ff;
  color: #fff;
  margin-top: -10px;
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.48);
}

.twitter:hover::before {
  background-color: #007ed2;
}

.twitter:hover::after {
  background-color: #007ed2;
}

.insta:hover {
  background-color: #f100ed;
  color: #fff;
  margin-top: -10px;
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.48);
}

.insta:hover::before {
  background-color: #d200cf;
}

.insta:hover::after {
  background-color: #d200cf;
}

.facebook:hover {
  background-color: #005eff;
  color: #fff;
  margin-top: -10px;
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.48);
}

.facebook:hover::before {
  background-color: #004dd1;
}

.facebook:hover::after {
  background-color: #004dd1;
}

.git:hover {
  background-color: #272727;
  color: #fff;
  margin-top: -10px;
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.48);
}

.git:hover::before {
  background-color: #1a1a1a;
}

.git:hover::after {
  background-color: #1a1a1a;
}